version: '3.9'

services:
  # Base de données (Gardez votre config postgres)
  db:
    image: postgres:15
    container_name: starter-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: monmotdepasse
      POSTGRES_DB: viensjouerdb
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  # AJOUT : Broker JMS (Artemis) indispensable pour la messagerie
  artemis:
    image: apache/activemq-artemis:latest
    container_name: artemis-broker
    environment:
      - ARTEMIS_USERNAME=admin
      - ARTEMIS_PASSWORD=admin
      - ANONYMOUS_LOGIN=true
    ports:
      - "8161:8161"   # Console web
      - "61616:61616" # Port JMS (utilisé par votre code Java)
    volumes:
      - artemisdata:/var/lib/artemis-instance

volumes:
  dbdata:
  artemisdata: