version: '3.8'

services:
  # Service Base de données
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: viensjouerdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: monmotdepasse
    ports:
      - "5432:5432" # Pour voir la BDD depuis votre PC si besoin

  # Service Application (Votre code)
  app:
    image: payara/micro:6.2024.5-jdk21
    ports:
      - "8080:8080"
    volumes:
      # CORRECTION : On pointe vers le fichier réellement généré par Maven (starter.war)
      - ./target/starter.war:/opt/payara/deployments/starter.war
      # On injecte le script de configuration
      - ./post-boot-commands.txt:/opt/payara/config/post-boot-commands.txt
    # CORRECTION : On déploie le fichier starter.war
    command: --postbootcommandfile /opt/payara/config/post-boot-commands.txt --deploy /opt/payara/deployments/starter.war
    depends_on:
      - db